
AcmeEletronicsShop/app/build/*

AcmeEletronicsShop/.gradle/*

AcmeEletronicsShop/.idea/*

AcmeEletronicsShop/.gradle/*


Printer/app/build/*

Printer/.gradle/*

Printer/.idea/*

Printer/.gradle/*

Server/node_modules/*
AcmeEletronicsShop/AcmeEletronicsShop\.iml

Printer/Printer\.iml

Printer/local\.properties

Printer/app/app\.iml

AcmeEletronicsShop/local\.properties

AcmeEletronicsShop/app/app\.iml

AcmeElectronicsShop/AcmeEletronicsShop/\.idea/vcs\.xml


